.projectCard__container {
  color: var(--primary--background);
  width: 100%;
  height: 300px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectCard__card {
  width: 100%;
  height: 100%;
  background-color: var(--secondary--color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 60px;
  text-align: center;
}

.projectCard__card--back {
  background-color: var(--secondary--color);
  color: var(--primary--background);
  border: 4px solid var(--tertiary--color);
}

.projectCard__heading {
  font-size: 2.5rem;
  margin: 0;
}

.projectCard__link {
  color: var(--primary--background);
  font-size: 1.25rem;
}

.projectCard__link:hover {
  color: var(--tertiary--color);
}

/* Pro tablety (min šířka 768px) */
@media (min-width: 768px) {
  .projectCard__container {
    width: calc(100% / 3);
  }

  .projectCard__card {
    height: 300px;
  }

}
