.projects__heading, .projects__name {
  text-align: center;

}

.projects__heading {
  text-transform: uppercase;
  color: var(--secondary--color);
}

.projects__name {
  color: var(--tertiary--color);
  font-size: 1.44rem;
}

.projects__links {
  display: flex;
  justify-content: space-evenly;
  padding: 0.63rem;
}

.projects__link {
  color: var(--primary--color);
  font-weight: bold;
}

.projects__link:hover {
      color: var(--secondary--color);

}

