.projects__heading,
.projects__name {
  text-align: center;

}

.projects__heading {
  text-transform: uppercase;
  color: var(--secondary--color);
}

.projects__name {
  color: var(--tertiary--color);
  font-size: 1.44rem;
}

.projects__links {
  display: flex;
  justify-content: space-evenly;
  padding: 0.63rem;
}

.projects__link {
  color: var(--primary--color);
  font-weight: bold;
}

.projects__link:hover {
  color: var(--secondary--color);

}

.projects__container {
  padding-bottom: 1.25rem;
  text-align: center;
}

/* Pro tablety (min šířka 768px) */
@media (min-width: 768px) {
  .projects__desc {
  border-bottom: 2px solid var(--secondary--color);
}
}

/* Pro desktop (min šířka 1024px) */
@media (min-width: 1024px) {
  .projects__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects__name,
  .projects__links,
  .projects__desc {
    width: 80%;
  }
}
