.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--primary--color);
  font-size: 1.25rem;
  font-weight: bold;
}

.header__name {
  color: var(--primary--color);
  margin-left: 0.63rem;
  flex: 1;
}

.header__nav-container {
  flex: 2;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav__link {
  color: var(--primary--color);
  text-decoration: none;
  padding-right: 1.25rem;
}

/* Pro tablety (min šířka 768px) */
@media (min-width: 768px) {
  .header {
    font-size: 1.88rem;
  }
}

/* Pro desktop (min šířka 1024px) */
@media (min-width: 1024px) {
  .header {
    font-size: 3.125rem;
  }
}
