

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: var(--primary--color);
  font-weight: bold;
  border-top: 2px solid var(--primary--color);
}

.footer__socials {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;

}

.footer__links {
  padding-right: 0.94rem;
  text-decoration: none;
  color: var(--primary--color);
}

/* Pro tablety (min šířka 768px)*/ 
@media (min-width: 768px) {
  .footer__container {
    font-size: 1.25rem;
    justify-content: space-between;
    padding: 10px;
  }
}

/* Pro desktop (min šířka 1024px)
@media (min-width: 1024px) {
  
}
*/ 
