:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary--background: #F6F7EB;
  --primary--color: #381D2A;
  --secondary--color: #EC91D8;
  --tertiary--color: #F15025;
  --color--black: #03191E;
}

html, body {
  background-color: var(--primary--background);
  height: 100vh;
  margin: 0;
}


