:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary--background: #FFFFF3;
  --primary--color: #DF2935;
  --secondary--color: #FF8CC6;
  --color--black: #000000;
}

html, body {
  background-color: var(--primary--background);
}

main {
    min-height: 100vh;
}


