.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.88rem;
}

/* Pro tablety (min šířka 768px) */
@media (min-width: 768px) {
  .cardsContainer {
    gap: 20px;
    flex-direction: row;
    height: 100%;
  }
}
